@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --purple: #540351;
  --blue: #3627b1;
  --cyan: #25afce;
  --white: #ffffff;
  --wheat: #f5deb3;
  --grey: rgb(211, 211, 211);
  --transparent: #00000000;
  --radius-left: 3rem 0 0 3rem;
  --radius-right: 0 3rem 3rem 0;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --icon-size: 2rem;
  --icon-size-small: 1.5rem;
}

body {
  font-family: "Russo One", sans-serif;
  color: var(--white);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

button:hover,
.class-sub-container a:hover,
.project-item:hover,
.skill-item:hover,
.item:not(.active):hover,
.sub-container-2:not(.active-subheading):hover,
.sub-container-3:not(.active-subheading):hover {
  background-image: linear-gradient(90deg, #ffffff00, #f5deb3c0 50%, #ffffff00);
}

@media (max-width: 1024px) {
  h1 {
    font-size: 0.8rem;
  }
  h2,
  h3,
  p {
    font-size: 0.7rem;
  }
}
