.assistant-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.assistant-choice p {
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
  font-weight: bold;
}

.assistant-buttons {
  display: flex;
  gap: 1rem;
}

.assistant-buttons button {
  display: flex;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  border: var(--border);
  background-color: var(--background-window);
  transition: background-color 0.2s ease;
  font-size: var(--font-size-medium);
}

@media (max-width: 768px) {
  .assistant-buttons {
    justify-content: center;
  }
  .assistant-buttons button {
    font-size: var(--font-size-small);
  }
  .assistant-choice p {
    font-size: var(--font-size-medium);
  }
}