#bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.shadow-overlay {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

#bg::-webkit-media-controls {
  display: none !important;
}

#bg::-webkit-media-controls-enclosure {
  display: none !important;
}

#bg::-webkit-media-controls-play-button {
  display: none !important;
}

@media (max-width: 1024px) {
  .shadow-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
