/* === Chatbot Container === */
.chatbot-container {
  position: fixed;
  width: 90%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.chatbot-container:hover .chatbot-alpha-overlay {
  opacity: 1;
}

.chatbot-text {
  color: var(--white);
  font-size: var(--font-size-large);
  text-align: center;
  font-weight: bold;
}


/* === Responsive === */
@media (max-width: 768px) {
  .chat-container {
    height: 600px;
  }
  .chat-messages {
    height: 300px;
  }
  .chat-header {
    font-size: var(--font-size-medium);
  }
}
