/* === Chatbot Container === */
.chatbot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatbot-text {
  color: var(--white);
  font-size: var(--font-size-large);
  text-align: center;
  font-weight: bold;
}


/* === Responsive === */
@media (max-width: 768px) {
  .chat-container {
    height: 600px;
  }
  .chat-messages {
    height: 300px;
  }
  .chat-header {
    font-size: var(--font-size-medium);
  }
  .chat-box {
    min-width: 300px;
  }
}
