.chat-box {
  flex: 1;
  overflow-y: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 1200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  border: var(--border);
}

.chat-bubble {
  max-width: 75%;
  padding: 0.1rem 0.6rem;
  border-radius: var(--border-radius);
  font-size: var(--font-size-medium);
}

.chat-bubble a {
  display: inline !important;
}

.chat-bubble.ai {
  background: linear-gradient(90deg, var(--transparent), var(--purple) 70%);
  color: var(--white);
  align-self: flex-start;
  border-radius: var(--radius-right);
}

.chat-bubble.user {
  background: linear-gradient(90deg, var(--cyan), var(--transparent) 100%);
  color: var(--white);
  align-self: flex-end;
  border-radius: var(--radius-left);
}

.chat-input-container {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.chat-input {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  border: var(--border);
  outline: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}

.chat-input:focus,
.send-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  animation: breath 2.5s infinite;
}

.send-button {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  border: var(--border);
  outline: none;
  font-size: 1rem;
  font-weight: normal;
}

.send-button:disabled {
  cursor: not-allowed;
}

.clear-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  border: var(--border);
  width: 10%;
  font-weight: normal;
}

@media (max-width: 768px) {
  .chat-messages {
    height: 300px;
  }
  .clear-button {
    display: none;
  }
  .send-button {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 768px) {
  .assistant-buttons button {
    font-size: var(--font-size-small);
  }
  .chat-box {
    margin-top: 2rem;
  }
}
