.email-intro-box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.email-intro-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.email-intro-text,
.email-intro-note {
  text-align: center;
  max-width: 500px;
  margin: 0.5rem 0;
}

.email-box {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.email-input {
  border-radius: 0.3rem;
  border: var(--border);
  padding: 0.5rem;
}

.email-error {
  text-align: center;
}

@media (max-width: 768px) {
  .email-input {
    height: 0.5rem;
  }
  
}