.skill-menu {
  width: 31.2rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 15vw;
  align-items: flex-end;
}

.skill-item {
  height: 3.7rem;
  width: 50%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.skill-title {
  font-size: 1rem;
  padding-right: 4.5rem;
}

.skill-item.activeSkill .skill-title {
  font-size: 1.5rem;
}

.activeSkill {
  border-radius: var(--radius-left);
  cursor: default;
}

.skill-item.activeSkill:nth-child(1) {
  background: linear-gradient(270deg, #ffffff00, var(--purple) 70%);
}
.skill-item.activeSkill:nth-child(2) {
  background: linear-gradient(270deg, #ffffff00, var(--blue) 70%);
}

.skill-icon {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1.8rem;
  left: 8rem;
}

.skill-sub-container-1 h3,
.skill-sub-container-2 h3 {
  position: relative;
  margin: 0;
}

.skill-sub-container-1,
.skill-sub-container-2 {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.level-container {
  display: flex;
  gap: 0.3rem;
}

.level-point {
  width: 3rem;
  height: 2rem;
  border-radius: 0.2rem;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    background-position: 0 0;
  }
  25% {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 5px 15px;
    background-position: 0 0;
  }
  50% {
    box-shadow: rgba(245, 222, 179, 0.5) 0px 5px 15px;
    background-position: 0 0;
  }
  75% {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 5px 15px;
    background-position: 0 0;
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    background-position: 0 0;
  }
}

.filled,
.unfilled {
  animation: wave 5s ease-in infinite, fadeIn 5s ease-out forwards;
}

.filled {
  background: linear-gradient(180deg, #236473, #25afce, #7ce7ff);
}

.unfilled {
  background: linear-gradient(180deg, #1c8298, #074654, #074654);
}

.skill-sub-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.skill-sub-container h3 {
  font-size: 1.17em;
}

.note {
  width: 60%;
  border-radius: 0.5rem;
  border: var(--wheat) 1px solid;
  text-align: center;
  font-size: 1rem;
  color: var(--wheat);
  margin-top: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.note p {
  margin-bottom: 0;
}

.close-note {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--wheat);
  cursor: pointer;
}

.close-note:hover {
  color: var(--white);
  background-image: linear-gradient(90deg, #ffffff00, #f5deb3c0 50%, #ffffff00);
}

@media (max-width: 1024px) {
  .skill-item.activeSkill .skill-title {
    font-size: 1rem;
  }
  .skill-icon {
    display: none;
  }
  .level-point {
    width: 1.2rem;
    height: 1rem;
    border-radius: 0.1rem;
  }
  .level-container {
    gap: 0.15rem;
  }
  .skill-sub-container-1,
  .skill-sub-container-2 {
    gap: 0.5rem;
  }
  .skill-sub-container {
    margin-top: 2rem;
    gap: 0.2rem;
  }
  .skill-sub-container h3 {
    font-size: 0.7em;
  }

  .skill-menu {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    top: 30%;
  }
  .skill-item {
    height: 2.5rem;
    width: 12em;
  }
  .note {
    width: 35%;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .note {
    width: 30%;
  }
}
